* {
  font-family: "Poppins", sans-serif;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ece6e6;
}

/* all app elements container style */
.all-info-container {
  background-color: #fff;
  width: clamp(500px, 50%, 1000px);
  padding: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 3rem;
  border-radius: 0.5rem;
}

/* Location search bar */
.location-search-container {
  display: flex;
  width: 100%;
}

.search-btn {
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #ece6e6;
}

.location-search {
  border: 1px solid #ece6e6;
  border-left: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  flex: 1;
  padding-left: 0.3rem;
  outline: none;
}

.search-btn:active {
  background-color: #aaa;
}

/* Location, date, and time info container styles */
.location-date-time-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
}

.location-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  justify-self: start;
}

.location-info > span {
  margin-right: 0.2rem;
}

.date-time-info {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  width: 8rem;
  align-items: center;
}

/* Weather Info styles */
.weather-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

/* Weather forcast of current day styles */
.today-forecast-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather-condition {
  font-size: 1.5rem;
}

.temp-container {
  display: flex;
  gap: 0.3rem;
  font-size: 1.5rem;
}

.other-info-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.other-info {
  display: flex;
  gap: 0.3rem;
}

/* Future forcast styles */
.future-forecast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.future-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ece6e6;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .all-info-container {
    width: 100%;
  }

  .location-date-time-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }

  .location-info {
    align-items: center;
    justify-self: center;
  }

  .date-time-info {
    justify-self: center;
  }

  .today-forecast-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .future-forecast-container {
    justify-content: center;
  }
}
